<!-- custom pipe -->
<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
<p>Super power boost: {{2 | exponentialStrength:10:2}}</p>











<!-- custom directive -->


<hello name="{{ name }}"></hello>
<p appBasicHighlight>
  Highlight with basic directive
</p>

<p appBetterHighlight [defaultColor]="'Yellow'" [highlightColor]="'grey'">Highlight with App better directive</p>

<button click="onlyOdd = !onlyOdd">Only Show Odd Numbers</button>
<br/><br/>

<div *ngIf="onlyOdd">
<p>Odd Numbers</p>
<ul>
  <li [ngClass]="{odd: odd % 2 !== 0}" *ngFor="let odd of oddNumbers">
    {{odd}}
  </li>
</ul>
</div>

<div *ngIf="!onlyOdd">
<p>Even Numbers</p>
<ul>
  <li [ngClass]="{odd: even % 2 !== 0}" *ngFor="let even of evenNumbers">
    {{even}}
  </li>
</ul>
</div>